//Importing Google Font for Montserrat Regular & Bold
@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);
@import "../../font-awesome-4.6.3/css/font-awesome.min.css";

$red: #c41230;
$blue: #004b8d;

body, html{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Montserrat', sans-serif !important;
}

small{
    color: inherit !important;
}

ul{
    li{
        list-style: url("../../_assets/img/li.png");
        color: $red;
    }
}

.red{
    color: $red !important;
}

.blue{
    color: $blue !important;
}

.bold {
    font-weight: 600;
    letter-spacing: 1pt;
}

.navbar {
    height: 123px;
    background-color: white !important;
    border: 0px !important;
    position:relative;
}

.nav-items {
    padding: 36px 0;
    max-height: 71px;
    position: absolute;
    top: 50%;
    //left: 25%;
    //transform: translate(50%, 50%);
}


.navbar-brand{
    .nav-logo {
        position: absolute;
        top: 50%;
        left: 35%;
        //transform: translate(-50%, -50%);
        max-height: 50px;
    }
}

.phone-number {
    font-family: 'Montserrat';
    font-size: 26px;
}

.hr{
    background-color: $red;
    height: 20px;
}

.hr-red-min{
    background-color: $red;
    height: 2px;
    width: 75%;
}

.hr-blue{
    background-color: $blue;
    height: 20px;
}

.hr-blue-min{
    background-color: $blue;
    height: 10px;
}

.bg-img {
    height: 910px;
    //max-height: 65vh;
    background: url("../../_assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //    background-image: url("paper.gif");
    background-color: #cccccc;
}


.white-box {
    background-color: white;
    // overflow: hidden;
    text-align: center;
    padding: 5px;
    opacity: 0.85;
    width: 700px;

    // h2{
    //     font-size: 36px !important;
    // }
    // h4{
    //     font-size: 26px !important;
    // }
    // h5{
    //     font-size: 24px !important;
    // }

}

.banner {
    //    max-width: 850px;
    padding: 50px 30px;



    hr{
        background-color: $red;
        height: 4px;
    }

}

.red-bg{
    background-color: $red;
    color: white;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    padding: 10px 0;

    .big{
        font-size: 56px;
        padding: 5px 0;
        font-weight: bold;
    }
    p{
        line-height: 0.5em;
    }
}

.white-box-footer {
    background-color: $blue;
    color: white;

    i {
        padding: 21px 20px;
        font-size: 16px;
    }

}

.form{
    padding: 20px 0;

    label {
        padding: 5px 0;
    }

    input[type="text"], input[type="email"],  input[type="tel"] {
        width: 200px;
    }

    input[type="submit"] {
        background: $red;
        margin: 10px 0;
        text-transform: uppercase;
        padding: 10px 20px;
        border: 0;
        color: white;
    }
}

.form-items {
    width: 80%;
    text-align: left;
    margin: 0 30%;
}

.content {
    padding: 25px 0;

    p{
        line-height: 1.5em;
        text-align: justify;
    }
}

.footer{
    text-align: center;
    text-transform: uppercase;

    h3{
        font-size: 30px;
    }
}


@media(max-width: 786px) {
    .hidden-on-mobile {
        display: none;
    }
}
/*
@media (max-width: 1000px) {
    .white-box {
        width: 85%;
        max-height: 80%;
        padding: 40px 5px 5px 5px;

        .red-bg{
            padding: 60px 0;
        }

        .big{
            font-size: 56px;
        }

        h2{
            font-size: 48px;
        }
        h4,h5{
            font-size: 30px;
        }

        p{
            font-size: 24px;
        }

        .form-items{
            div{
                font-size: 30px;
            }
        }


        input[type="submit"] {
            width: 25%;
            padding: 20px;

        }
    }

    .big{
        font-size: 56px;
    }

    h2{
        font-size: 48px;
    }
    h4,h5{
        font-size: 30px;
    }

    p, li{
        font-size: 24px;
    }

    input[type="text"], input[type="email"],  input[type="tel"] {
        width: 80% !important;
    }

    .container{
        width: 90% !important;
        padding: 0px;
    }
    .content{
        padding: 20px 10px;
    }
    .bg-img {
        height: 75vh;
    }
}
*/
